/* mix entre 
  https://developer.mozilla.org/fr/docs/Web/Guide/HTML/Formulaires/Mon_premier_formulaire_HTML
  et https://webdesign.tutsplus.com/tutorials/how-to-build-web-form-layouts-with-css-grid--cms-28776 */
form div+div {
  margin-top: 1em;
}

form {
  display              : grid;
  grid-template-columns: 100px 1fr;
  grid-gap             : 16px;

  margin: 0 auto;
  padding: 1rem;
  max-width: 400px;

  border       : 1px solid #ccc;
  border-radius: 1em;
  background   : white;
}

label {
  text-align: right;
  grid-column: 1 / 2;
  /* label prend la place entre col 1 et 2 */
}

input,
.button {
  grid-column: 2 / 3;
  /* element prend la place entre col 2 et 3 */
}

input {
  /* Pour harmoniser le look & feel des bordures des champs texte */
  border: 1px solid #999;
}

input:focus {
  /* Pour souligner légèrement les éléments actifs */
  border-color: #000;
}