<!DOCTYPE html>
<html lang="fr">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Fruit Store - les meilleurs fruits frais</title>
    <!-- Load Vue followed by Vue Router -->
    <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/http-vue-loader/src/httpVueLoader.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/vue-router/dist/vue-router.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>
    <!-- Load stylesheet -->
    <link rel="stylesheet" href="styles/style.css" />
    <link rel="stylesheet" href="styles/form.css" />
    <link rel="stylesheet" href="styles/search.css" />
  </head>
  <body>
    <div class="bg-image"></div>

    <div id="app">
      <header>
        <h1>Fruit Store</h1>
        <!-- Navigation bar -->
        <nav>
          <!-- Afficher les routes destinées aux clients -->
          <div v-if="!isAdmin" style="padding-right: 0">
            <router-link to="/">Accueil</router-link>
            <router-link to="/panier">Panier</router-link>
          </div>
          <!-- Afficher les routes destinées au admin -->
          <div v-else style="padding-right: 0">
            <router-link to="/edit">Edit Articles</router-link>
            <router-link to="/orders">Commandes/Ventes</router-link>
          </div>
          <!-- Liens vers les routes users -->
          <div v-if="connectedUser === ''" style="padding-left: 0">
            <router-link to="/register">S'inscrire</router-link>
            <router-link to="/login">Se connecter</router-link>
          </div>
          <div v-else style="padding-left: 0">
            <router-link to="/account">{{ connectedUser }}</router-link>
          </div>
        </nav>
      </header>

      <main>
        <router-view
          :articles="articles"
          :panier="panier"
          @add-article="addArticle"
          @delete-article="deleteArticle"
          @update-article="updateArticle"
          :payment="payment"
          :perror="paiementError"
          @add-to-panier="addToPanier"
          @remove-from-panier="removeFromPanier"
          @modify-article-panier="modifyArticlePanier"
          @pay-panier="payPanier"
          :rsuccess="registerSuccess"
          :rerror="registerError"
          :rerror_reason="registerErrorReason"
          @register-user="registerUser"
          @logout-user="logoutUser"
          :lsuccess="loginSuccess"
          :lerror="loginError"
          :lerror_reason="loginErrorReason"
          @login-user="loginUser"
          :connected-user="connectedUser"
          :is-admin="isAdmin"
        ></router-view>
      </main>
    </div>
    <script src="/vue-application.js"></script>
  </body>
</html>
